
.jpk-7m-form {
  .jpk-section {
    margin-top: 2rem;
  }

  .o_form_view .oe_inline {
    width: 100% !important;
  }

  .o_field_widget.oe_inline {
    .o_input {
      width: 100% !important;
    }
  }
}
